.single-layout {
  border: 1px solid #61dafb;
  min-height: 768px;
}

.layout {
  @extend .single-layout;

  .menu {
    .menu-item {
      color: royalblue;
    }
  }
}

.single-layout {

  .login {
    @extend .single-layout;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3 {
      font-size: 2rem;
    }

    &-fields {
      width: 100%;
      text-align: left;
      max-width: 400px;
      padding: 30px 20px;
    }


    .field {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      label {
        font-weight: 600;
        margin-bottom: 8px;
      }

      input {
        height: 40px;
        border: 1px solid cornflowerblue;
        outline: none;
        padding: 0 15px;
        font-size: 16px;
      }
    }

    button {
      padding: 10px 20px;
      min-width: 120px;
      font-size: 16px;
      font-weight: 600;
      background: cornflowerblue;
      border: none;
      color: #fff;
      cursor: pointer;
    }
  }

}